$logowidth: 8em;
body {
	padding-top: 1em;
}


div.header .top-icons {
	margin-top: 0.5em;
	padding:0;
	text-align:center;
	.compte,.panier {
		line-height:1;
		display:block;
		color:white;
		display:inline-block;
		margin:0.1em;
		font-size: 2em;
	}
	.compte:before {
		@include icon($fa-var-user);

	}
	.panier:before {
		@include icon($fa-var-shopping-cart);
	}
}

div.header {
	background: $orange;
	padding: 0.5em 0;
	margin-bottom: 1em;
	position:relative;
	z-index:1;
	box-shadow: 0 0 5em #000;
}

.logo {
	img {
		margin: 1em 0;
	}
}

p.livraison.tel {
	margin-bottom:0;
	font-weight:100;
	margin-top: 0.6em;
}


div.search {
	input {
		margin:0;
	}
}