/*
 * MENU
 */

 .top-bar,.top-bar-section ul li, .top-bar-section li:not(.has-form) a:not(.button) {
	background: $orange;
 }
 .top-bar {
 	.divider {
 		color:darken($orange,20%)
 	}
 }

.top-bar-section>ul>li>a {
	font-size: 1.1em;
}